body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Typography */

p {
  margin: 0;
  padding: 0;
}

.form-desc {
  text-align: center;
  padding: 2em 1em;
}

label {
  font-family: "Markazi", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
}

.title {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
  color: #f4ce14;
  margin: 0;
}

.subtitle {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.01px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.desc {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.menu-title {
  color: #000000;
}

.nav-item {
  color: #040404;
  font-weight: 600;
  text-decoration: inherit;
  font-family: "Markazi", sans-serif;
}

.item-name,
.reviewer-name {
  font-family: "Markazi Text", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.confirmed-title {
  text-align: center;
}

.confirmed-subtitle {
  color: #000000;
  text-align: center;
  max-width: 600px;
  width: 50%;
}

.item-price,
.reviewer-rating {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee9972;
}

.item-desc,
.review-text {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #495e57;
  padding-bottom: 2em;
}

.delivery {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 0.6em;
}

.testimonials-title {
  font-family: "Markazi Text", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}

.desc-title {
  color: #000000;
}

.desc-subtitle {
  color: #333333;
}

.desc-text {
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justified;
  color: #000000;
}

footer {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #edefee;
}

/* Layout */

.grid-container {
  max-width: 1600px; /* Set a max width */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Add some padding to the container */
}

.section {
  position: relative;
  overflow: hidden;
  margin-bottom: 0px; /* Add some spacing between sections */
}

.full-width-section {
  position: relative;
  width: 100vw; /* Full viewport width */
  left: 50%;
  right: 50%;
  margin-left: -50vw; /* Offset by half of viewport width */
  margin-right: -50vw; /* Offset by half of viewport width */
  overflow: visible;
  background-color: #edefee;
}

.section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Content width */
  max-width: 1600px; /* Limit content width to container's max width */
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

.section-inner-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Content width */
  max-width: 1600px; /* Limit content width to container's max width */
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
  gap: 2em;
}

header {
  display: flex;
  align-items: center;
  gap: 4em;
  background-color: #edefee;
  height: 4em;
  padding: 1rem;
  width: 100%;
}

nav {
  display: flex;
  gap: 1em;
}

.logo {
  height: 8rem;
  padding: 1.5em;
}

.hero {
  background-color: #495e57;
  min-height: 180px;
  margin-bottom: 100px;
}

.hero-img {
  width: 100%;
  border-radius: 20px; /* Adjust this value to control the roundness of the corners */
}

.hero-desc,
.restaurant-desc {
  width: 34%;
  padding: 2em;
  flex-basis: 1;
}

.img-wrapper {
  max-width: 250px;
  overflow: visible; /* Allow content to overflow */
  position: relative; /* Ensure relative positioning for the container */
  margin-bottom: -200px; /* Create negative margin to allow overflow */
  padding-right: 5rem;
}

.footer-item {
  color: #040404;
  font-weight: 400;
  text-decoration: inherit;
  font-size: 18px;
}

form {
  background-color: #edefee;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding: 3em;
  margin-bottom: 1.5em;
  border-radius: 10px;
}

.res-form {
  display: grid;
  max-width: 500px;
  gap: 30px;
}

.seperate {
  display: block;
  margin-top: 1em;
}

.seperate-child {
  display: inline-block;
}

.submit {
  margin-top: 1.5em;
  padding: 1em 1.5em;
  cursor: pointer;
}

input[type="date"],
input[type="text"],
input[type="number"],
select {
  color: #333;
  background-color: #f7f7f7;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-inline: 0.5em;
}

.menu {
  padding-block: 2rem;
}

.menu-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin-bottom: 2em;
  padding-left: 60px;
  padding-right: 120px;
}

.menu-img,
.reviewer-img {
  width: 100%;
  border-radius: 1rem;
}

.menu-img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 170px;
}

.cards,
.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 120px;
  width: 100%; /* Make the testimonials container stretch to the whole width */
  box-sizing: border-box; /* Ensure padding doesn't cause the container to exceed the width */
}

.card,
.testimonial {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}

.card {
  background-color: #edefee;
  border-radius: 16px;
  position: relative;
}

.name-price,
.name-rating {
  display: flex;
  justify-content: space-between;
}

.confirmed-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-block: 2em;
}

.name-price,
.item-desc,
.delivery,
.name-rating,
.reviewer-name,
.review-text {
  padding-inline: 1em;
}

.restaurant-desc-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2em;
  gap: 2em;
}

.desc-img {
  width: 25%;

  border-radius: 16px;
}

.testimonials-parent {
  padding-block: 2em;
}

footer {
  display: flex;

  gap: 4em;
  padding-block: 1em;
}

.footer-content {
  display: flex;
  gap: 2em;
}

.footer-nav,
.footer-contact,
.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-head {
  font-weight: 600;
  margin-bottom: 0.6em;
}

/* Buttons */

.btn,
.submit {
  background-color: #f4ce14;
  border: none;
  outline: none;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  color: #040404;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: -0.7em;
  cursor: pointer;
}

.reserve-btn {
  margin-top: 1em;
}

.btn {
  padding: 1em;
}
